* 
{
  margin: 0;
  padding: 0;
}

.wrapper{
  font-family: Calibri Regular, sans-serif;
	max-width: 1180px;	
  min-width: 980px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*------------------HEADER------------------*/

.header{
  height: 63px;
  border-bottom: 2px solid #e3fc97;
}

.header__logo{
	float: left;
	margin: 5px 40px 5px 20px;
}

.header__text{
	padding-left: 120px;
	padding-top: 20px;
	padding-right: 10px;
	font-family: Comic Sans MS, sans-serif;
	font-size: 20px;
}


/*---------------------LOGIN----------------------*/

.signup-wrapper,
.signin-wrapper{
  margin-top: 50px;
}

.contacts{
  padding: 15px 20px;
  outline: 1px solid #dee4e6;
  width: 240px;
  background-color: white;
  margin: auto;
}

.contacts__title{
  padding-bottom: 15px;
  font-family: Docker, sans-serif;
  font-size: 25px;
  font-weight: bold;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
  
.contacts__item{
  width: 226px;
  display: block;
  margin-top: 15px;
  padding: 5px 5px 5px 5px;
  border:2px solid;
  color: black;
}

.contacts__item:focus{
  outline: none;
  border:2px solid #292a25; /*!*/
}

.contacts__item_button{
  margin-top: 15px;
  padding: 10px 10px;
  border-radius: 3px;
  border: none;
  font-family: Docker, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
  width: 240px;
  background-color: #addc22;
  text-transform: uppercase;
}

.contacts__item:valid{
  border:2px solid #c4f437;
  box-shadow: none;
}

.contacts__item_button:hover{
  background-color: #90be0b;
}

.contacts__item_button:focus{
  outline: none;
  background-color: #cff365;
}

.registration__sign-up{
  font-family: Docker, sans-serif;
  font-size: 10px;
}

.registration{
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  width: 282px;
  background-color: #e3fc97;
  margin: auto;
}
